@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');
p.popquiz{
	background-color: rgba(13,110,253,0.1);
    box-shadow: rgb(0 0 255 / 10%) 0px 5px 15px;
    padding-left: 1em;
    color: rgba(13,110,253,1);
	}
span.popquiz{
	background-color: rgba(13,110,253,0.1);
    box-shadow: rgb(0 0 255 / 10%) 0px 5px 15px;
    padding-left: 1em;
    color: rgba(13,110,253,1);
	display: block;
	}
